venv/*
sakreativ/blog/migrations/*
sakreativ/blog/__pycache__/*
sakreativ/media/*
sakreativ/media_cdn/*
sakreativ/sakreativ/__pycache__/*
sakreativ/static_cdn/*
sakreativ/newsletter/migrations/*
.idea/*
.vscode/*
*.sqlite3
.idea/sarah-website.iml
sakreativ/sakreativ/gmail_pwd.txt
