{% extends 'blog/base.html' %}
{% load static %}

{% block description %}Sakrea Shop{% endblock %}

{% block title %}Sakrea - Shop{% endblock %}

{% block content %}
<div class="shopping-cart row">
    <div class="col-sm-2">
        <p>Preis: CHF {{ price }}.-</p>
    </div>
    <div class="col-sm-2">
        <a href="checkout/">Bestellen</a>
    </div>
</div>
<div class='row'>
    <div class="col-sm-4">
        {% for categorie in categories %}
            <a href="
            {% if category %}
            ../{{ categorie.id }}
            {% else %}
            {{ categorie.id }}
            {% endif %}
            ">{{ categorie }}</a>
            <br>
        {% endfor %}
    </div>
    <div class="col-sm-8">
        <div class='row'>
            {% for product in products %}
            <div class='col-sm-4 shop-element'>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <h1 class='shop-element-title'>{{ product.title }}</h1>
                            <p class='shop-element-description'>{{ product.description|slice:':50' }}</p>
                        </div>
                        <div class='col-sm-6'>
                            <img src='{{ product.image.url }}' class='shop-image'>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-6'>
                            <p class='shop-price'>CHF {{ product.price }}.-</p>
                        </div>
                    </div>
                    {% if product.size %}
                        <div class="dropdown">
                        <button class="dropbtn"><img src='{% static "img/shopping-cart.png" %}' height='30'></button>
                        <div class="dropdown-content">
                            {% for size in product.size.all %}
                            <a href="{{ product.id }}/{{ size }}/add/">{{ size }}</a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <a href="{{ product.id }}/add/">
                            <div class='row add-to-shopping-cart'>
                                <div class="col-sm-12">
                                    <img src='{% static "img/shopping-cart.png" %}' height='30'>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}